@charset "utf-8";
/* CSS Document */

header {
	background-color:#1741C4;
	height: 200px;
	padding: 25px;
	
	font-family: Georgia;
	text-align: center;
	color: #343333;
	font-size: 14px;
	line-height: 22px;
}